<div class="registrationOrLogin">
    <div class="card card-pos">
        
        <h4 class="card-header">Odzyskiwanie hasła</h4>
        <div class="card-body">
            <form [formGroup]="form" >
    
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" formControlName="password" class="form-control"/>
                    <div *ngIf="f.password.invalid && (f.password.touched || f.password.dirty)" class="alert alert-danger">
                        <div *ngIf="f.password.errors?.required">Password is required</div>
                        <div *ngIf="f.password.errors?.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Potwierdź hasło</label>
                    <input type="password" formControlName="confirmPassword" class="form-control"/>
                    <div *ngIf="form.errors?.passwordMismatch && (f.confirmPassword.touched || f.confirmPassword.dirty)" class="alert alert-danger">
                        <div *ngIf="form.errors?.passwordMismatch">Password mismatch</div>
                    </div>
                    <div *ngIf="token==null" class="alert alert-danger">
                        Token is invalid  
                    </div>
                </div>
     
               
                <div class="form-group">
                    <button (click)="onSubmit()" style="color: white;" class="btn btn-primary" 
                    [disabled]="!form.valid && token!=null">Zmień hasło</button>
                </div>
    
            </form>
        </div>
        
    </div>

    <div *ngIf="waitingForApiResponse" style="display: flex; flex-direction: column;">
        <div *ngIf="!apiError" class="spinner-border" role="status">
            <span class="sr-only">...</span>
        </div>
        <div *ngIf="apiError" style="align-self: center;">
            <h4 style="text-align: center;">something gone wrong... <br>try again later</h4>
            <a style="text-align: center;" routerLink="/recipes">Powrót do strony głownej</a>
        </div>
    </div>

</div>