
<p>
    {{currentRecipeDetails | json}}
</p>

<div class="summary-size">
    <div style="display: flex; justify-content: space-between;" class="title-frame ">

        <p class="text-style">Przepis:<br> {{currentRecipeDetails.name}}</p>
        <p class="text-style">Poziom trudności: <br> {{currentRecipeDetails.level}}</p>
        <p class="text-style">czas: <br> {{currentRecipeDetails.time}}</p>
        <p class="text-style">ilość porcji: <br> {{currentRecipeDetails.portions}}</p>
    </div>
    <div class="flex-container">

        <div style="height:70%; width: 30%;" class="table">
            <h3>Składniki:</h3>
    
            <div *ngFor="let ingredient of currentRecipeDetails.ingredients; let i=index" class="item" >
                <div >
                    <p>{{i}}:  {{ingredient}}</p>
                </div>
            </div>

        </div>
    
        <div style="height :100%;width: 60%;" class="table">
            <h3>Wykonanie:</h3>
            
            <div *ngFor="let step of currentRecipeDetails.steps; let i=index" class="item" >
                <div>
                    <h4>Krok {{i}}</h4>
                    <p>{{step}}</p>
                </div>
            </div>

        </div>
    </div>
    
    <div style=" display: flex;flex-direction: row;justify-content: flex-end;margin-top: 2%;">
        <div *ngIf="whaitForServerResponse" class="spinner-border text-success" style="margin-right: 20%;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <button  class="btn btn-warning "type="button" (click)="edit()">Edytuje</button> 
        <button  style="margin-left: 5%;"class="btn btn-success "type="button" (click)="confirm()">Potwierdzam</button>
    </div>

    <div *ngIf="responseError" class="alert alert-danger">
        <p>Spróbuj ponownie lub później</p>
    </div>
    
    
</div>