<!-- <div class="summary-size">

    <h2 style="margin-bottom: 5%;">Podsumowanie:</h2>
    <div style="display: flex; justify-content: space-between;" class="title-frame ">

        <p class="text-style">Przepis:<br> {{currentRecipeDetails.name}}</p>
        <p class="text-style">Poziom trudności: <br> {{currentRecipeDetails.level}}</p>
        <p class="text-style">czas: <br> {{currentRecipeDetails.time}}</p>
        <p class="text-style">ilość porcji: <br> {{currentRecipeDetails.portions}}</p>
    </div>

    <div class="flex-container">

        <div style="height:70%; width: 30%;" class="table">
            <h3>Składniki:</h3>
    
            <div *ngFor="let ingredient of currentRecipeDetails.ingredients; let i=index" class="item" >
                <div >
                    <p>  {{ingredient}}</p>
                </div>
            </div>

        </div>
    
        <div style="height :100%;width: 60%;" class="table">
            <h3>Wykonanie:</h3>
            
            <div *ngFor="let step of currentRecipeDetails.steps; let i=index" class="item" >
                <div>
                    <h4>Krok {{i}}</h4>
                    <p>{{step}}</p>
                </div>
            </div>

        </div>
    </div>

    <div class="flex-container" style="display: flex;flex-direction: column;">
        <h3>Opis:</h3>
        <div class="table" style="padding: 5px 5px;font-size: large;font-weight: 500;">
            {{currentRecipeDetails.description}}
        </div>
    </div>

    <div class="files-display">
        <div *ngFor="let file of files; let i=index" class="file">
            {{file.name}}
            {{loadImageUrl(file,i)}}
            <img  class="photo" [src]="imagesURL[i]" (click)="imageURL=imagesURL[i];displayModal()" style="width: 100px; height: 80px;">
           
        </div>
    </div> 

   


    <div id="myModal" class="modal" style="display: block;" *ngIf="displayModalVar">
            
        
        <span (click)="closeModal()" class="close">&times;</span>
      
       
        <img class="modal-content" id="img01" [src]="imageURL" >
      
        
        <div id="caption"></div>
    </div>

   
    
    <div style=" display: flex;flex-direction: row;justify-content: flex-end;margin-top: 2%;">
        <div *ngIf="waitForRecipeUpload || !ifPhotosUploaded()" class="spinner-border text-success" style="margin-right: 20%;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <button  class="btn btn-warning "type="button" (click)="edit()">Edytuje</button> 
        <button  style="margin-left: 5%;"class="btn btn-success "type="button" (click)="confirm()">Potwierdzam</button>
    </div>

    <div *ngIf="responseError" class="alert alert-danger">
        <p>Spróbuj ponownie lub później</p>
    </div>
    
    
</div> -->
<!-- stare popwyżej -->
<div class="background">
    <div class="recipe-container">
        <div class="recipe-overview-container">
    
            <div class="title-container">
                <h1>{{currentRecipeDetails.name}}</h1>
                
                <div class="details-container">
                    <div class="detail">
                        <i style="color: #cebc74;" class="far fa-clock fa-3x" ></i>
                        <p>{{currentRecipeDetails.time}}  </p>
                    </div>
                    <div class="detail"> 
                        <i style="color: #cebc74;" class="fas fa-utensils fa-3x"></i>
                        <p>{{currentRecipeDetails.portions}}</p>
                    </div>
                   <div class="detail">
                        <i style="color: #cebc74;" class="fas fa-chart-line fa-3x" ></i>
                        <p>{{currentRecipeDetails.level}}  </p>
                   </div>
                </div>
                
            </div>
            
            <div *ngIf="imagesURL" class="photos-container">

                <!-- <div *ngFor="let file of files; let i=index" class="file">
                    {{loadImageUrl(file,i)}}
                </div> -->

                <div class="main-photo">
                    <img src={{imagesURL[0]}} (click)="imageURL=imagesURL[0];displayModal()" >
                </div>
         1
                <div id="bp" class="bottom-photos-container" *ngIf="imagesURL">
                        <div *ngFor="let photoUrl of imagesURL.slice(1); let i=index" class="loop-container">
                            <img src={{photoUrl}} (click)="imageURL=photoUrl;displayModal()">
                        </div>
                    </div>   
                </div> 
                <script>
                    let bp = document.getElementById('bp');
                    bp.removeChild(bp.childNodes[0]);
                </script>  

        </div>
    
    
        <div class="description-container">
    
            <div class="ingredients">
                <h1> Składniki :</h1>
                <div *ngFor="let ingredient of currentRecipeDetails.ingredients" class="ingredient">
                    <i class="far fa-check-square fa-2x check"></i>
                    <p>{{ingredient}}</p>
                </div>
            </div>
    
            <div class="steps">
                <h1>Wykonanie : </h1>
                <div *ngFor="let step  of currentRecipeDetails.steps let i=index" class="step">
                    <i class="far fa-star fa-2x star"></i>
                    <span class="step-title">Krok {{i+1}}</span>
                    <div class="break-row"></div>
                    <p>
                        {{step}}
                    </p>
                </div>

            </div>
        </div>

        <div class="recipe-comment-container">
            <div class="title">
                <i class="fas fa-drumstick-bite fa-2x"></i>
                <span >Opis:</span>
                
            </div>
            <p>
                {{currentRecipeDetails.description}}
            </p>
            
        </div>
        <div class="edit-confirm-container">
            <div *ngIf="waitForRecipeUpload || !ifPhotosUploaded()" class="spinner-border text-success" style="margin-right: 20%;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <button  class="btn btn-warning orange-btn-color "type="button" style="color: white;" (click)="edit()">Edytuje</button> 
            <button  style="margin-left: 5%;"class="btn btn-success "type="button" (click)="confirm()">Potwierdzam</button>
        </div>
    </div>


    <div id="myModal" class="modal" style="display: block;" *ngIf="displayModalVar">
            
        <!-- The Close Button -->
        <span (click)="closeModal()" class="close">&times;</span>
      
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01" [src]="imageURL" >
      
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>

    <div >

    </div>

</div>

<div style=" display: flex;flex-direction: row;justify-content: flex-end;margin-top: 2%;">
    
</div>

<div *ngIf="responseError" class="alert alert-danger">
    <p>Spróbuj ponownie lub później</p>
</div>

