
<!-- <div *ngIf="ifContentLoading" class="spinner-border text-primary" style="align-self: center;" role="status">Loading....</div>

<div *ngIf="!ifContentLoading">

    <div class="summary-size">

        <div style="display: flex; justify-content: space-between;" class="title-frame ">
    
            <p class="text-style">Przepis:<br> {{recipe.name}} </p>
            <p class="text-style">Poziom trudności: <br> {{recipe.level}}</p>
            <p class="text-style">czas: <br> {{recipe.time}}</p>
            <p class="text-style">ilość porcji: <br> {{recipe.portions}}</p>
        </div>

        <div class="flex-container">
    
            <div style="height:70%; width: 30%;" class="table">
                <h3>Składniki:</h3>
    
                <div *ngFor="let ingredient of recipe.ingredients; let i=index" class="item" >
                    <div >
                        <p>{{i}}:  {{ingredient}}</p>
                    </div>
                </div>
    
            </div>
    
            <div style="height :100%;width: 60%;" class="table">
                
                <h3>Wykonanie:</h3>
                
                <div *ngFor="let step of recipe.steps; let i=index" class="item" >
                    <div>
                        <h4>Krok {{i}}</h4>
                        <p>{{step}}</p>
                    </div>
                </div>
    
            </div>
        </div>

        <div class="flex-container" style="display: flex;flex-direction: column;">
            <h3>Opis:</h3>
            <div class="table" style="padding: 5px 5px;font-size: large;font-weight: 500;">
                {{recipe.description}}
            </div>
        </div>
        
    </div>

</div> -->
<div class="background">
    <div class="recipe-container">
        <div *ngIf="ifContentLoading" style="align-self: center;">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="recipe-overview-container">
    
            <div *ngIf="!ifContentLoading" class="title-container">
                <h1>{{recipe.name}}</h1>
                
                <div class="details-container">
                    <div class="detail">
                        <i style="color: #cebc74;" class="far fa-clock fa-3x" ></i>
                        <p>{{recipe.time}}  </p>
                    </div>
                    <div class="detail"> 
                        <i style="color: #cebc74;" class="fas fa-utensils fa-3x"></i>
                        <p>{{recipe.portions}}</p>
                    </div>
                   <div class="detail">
                        <i style="color: #cebc74;" class="fas fa-chart-line fa-3x" ></i>
                        <p>{{recipe.level}}  </p>
                   </div>
                </div>
                
            </div>
            
            <div #bp *ngIf="photosUrls" class="photos-container">
                <div class="main-photo">
                    <img src={{photosUrls[0]}} (click)="imageURL=photosUrls[0];displayModal()" >
                </div>
        
                <div  class="bottom-photos-container">                
                    <div *ngFor="let photoUrl of photosUrls; let i=index" class="loop-container">
                        <img *ngIf="i>0" src={{photoUrl}} (click)="imageURL=photoUrl;displayModal()">
                    </div>
                </div>
                
            </div>      
        </div>
    
    
        <div *ngIf="!ifContentLoading" class="description-container">
    
            <div class="ingredients">
                <h1> Składniki :</h1>
                <div *ngFor="let ingredient of recipe.ingredients" class="ingredient">
                    <i class="far fa-check-square fa-2x check"></i>
                    <p>{{ingredient}}</p>
                </div>
            </div>
    
            <div class="steps">
                <h1>Wykonanie : </h1>
                <div *ngFor="let step  of recipe.steps let i=index" class="step">
                    <i class="far fa-star fa-2x star"></i>
                    <span class="step-title">Krok {{i+1}}</span>
                    <div class="break-row"></div>
                    <p>
                        {{step}}
                    </p>
                </div>

            </div>
        </div>
        

        <div *ngIf="!ifContentLoading" class="recipe-comment-container" style="width: 100%;">
            <div class="title" >
                <i class="fas fa-drumstick-bite fa-2x" ></i>
                <span>Opis:</span>
            </div>
            <p>
                {{recipe.description}}
            </p>
        </div>

        <div  class="add-comment-container">
            <button type="button" (click)="expandCommentContainer()" class="btn btn-primary orange-button">Podziel się swoją opinią</button>
            
            <div *ngIf="expanded" class="comment-container input-group">
                <form [formGroup]="form">
                    <textarea (blur)="checkValidity()" class="form-control" aria-label="With textarea" formControlName="comment"></textarea>
                    <div *ngIf="!checkValidity() && (comment.touched || comment.dirty)" class="alert alert-danger" >
                        <div *ngIf="!comment.errors">
                            wymagane
                        </div>
                        <div *ngIf="comment.errors?.minlength">
                            Wymagane minimum 5 znaków
                        </div>
                        <div *ngIf="comment.errors?.maxlength">
                            maksimum 100 znaków
                        </div>
                    </div>
                </form>
            </div>
            <button *ngIf="expanded" [disabled]="!checkValidity()" type="button" (click)="addComment()" class="btn btn-success add-button">Dodaj</button>
        </div>

       <div class="comments-container">
            <div class="title">
                <i class="far fa-comments fa-3x"></i>
                <span>Opinie użytkowników:</span>
            </div>
            <div *ngFor="let comment of comments" class="comment">
                <div class="user">
                    <p>{{comment.username}}</p>
                    <i class="far fa-user fa-3x"></i>
                </div>
                <p>{{comment.comment}}
                </p>
                <span>
                    {{comment.date | date: 'dd/MM/yyyy'}}
                </span>
                
            </div>

       </div>
    </div>


    <div id="myModal" class="modal" style="display: block;" *ngIf="displayModalVar">
            
        <!-- The Close Button -->
        <span (click)="closeModal()" class="close">&times;</span>
      
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01" [src]="imageURL" >
      
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>

</div>






