
<div class="registrationOrLogin">
    <div class="card card-pos">
        
        <h4 class="card-header">Odzyskiwanie hasła</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
                <div class="form-group">
                    <label for="email">Email lub nazwa użytkownika</label>
                    <input type="text" formControlName="email" class="form-control"/>
                    <div *ngIf="form.invalid && (f.email.touched || f.email.dirty)" class="alert alert-danger">
                        <div *ngIf="f.email.errors?.required">Email is required</div>
                        <div *ngIf="f.email.errors?.email">Email is incorrect</div>
                    </div>
                </div>
    
               
                <div class="form-group">
                    <button (click)="onSubmit()" style="color: white;margin-right: 5%" class="btn btn-primary" 
                    [disabled]="!form.valid">Wyślij</button>

                    <label>Wyślij link weryfikacyjny</label>
                </div>
    
            </form>
        </div>
    </div>

    <div *ngIf="resetRequestSend" style="align-self: center; margin-top: 5%; display: flex;flex-direction: column;">
        <h3 style="align-self: center;" >Wiadomość wysłana sprawdź swój email.</h3>
        <a style="align-self: center;" routerLink="/recipes" class="btn btn-link">Powrót do strony głownej</a>
    </div>

</div>
