
<div class="registrationOrLogin">
    <div class="card card-pos">
        
        <h4 class="card-header">Odzyskiwanie hasła</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
                <div class="form-group">
                    <label for="usernameOrEmail">Email lub nazwa użytkownika</label>
                    <input type="text" formControlName="usernameOrEmail" class="form-control"/>
                    <div *ngIf="form.invalid && (f.usernameOrEmail.touched || f.usernameOrEmail.dirty)" class="alert alert-danger">
                        <div *ngIf="f.usernameOrEmail.errors?.required">username or email is required</div>
                    </div>
                </div>
    
               
                <div class="form-group">
                    <button type="submit" style="color: white;margin-right: 5%" class="btn btn-primary" 
                    [disabled]="!form.valid">Wyślij</button>

                    <label>Wyślij link weryfikacyjny</label>
                </div>
    
            </form>
        </div>
    </div>
    <!-- response send -->
    <div class="spinner-border" role="status" style="align-self: center;" *ngIf="resetRequestSend && !resetResponseRecieved">
        <span class="sr-only">...</span>
      </div>
      <!-- if response recieved -->
    <div *ngIf="resetRequestSend && resetResponseRecieved" style="align-self: center; margin-top: 5%; display: flex;flex-direction: column;">
        <h3 *ngIf="resetRequestResponseSuccessfully" style="align-self: center;" >Wiadomość wysłana sprawdź swój email.</h3>
        <h3 *ngIf="!resetRequestResponseSuccessfully" style="align-self: center;" >Coś poszło nie tak, spróbuj ponownie później</h3>
        <a style="align-self: center;" routerLink="/recipes" class="btn btn-link">Powrót do strony głownej</a>
    </div>

</div>
