

<div (mouseover)='mouseOver()' (mouseout)='mouseOut()'   [class.blur-image]="onMouseOver" class="on-hover-change-bg" style="width: 100%;height: 100%; box-shadow: 2px 2px 13px 1px rgb(49, 49, 49)">
    
    <div style="display:flex;flex-direction: column;background-color: #ce9874;border-bottom: 4px solid black ;">
        <h2 style="align-self: center;height: 40px;color: white;" class="label-font" > {{name}}</h2>
    </div>

    <div  style="display: flex; flex-direction: row;width: 100%;height: 280px;">

        <!-- b80000 -->
        <!-- #f3ac92; -->
        <div>
          <div *ngIf="imageURL" style="overflow: hidden;">
                <img   src={{imageURL}} style="width: 350px;height: 288px;">
            </div>
        </div>

        <div style="display: flex;flex-direction:column;justify-content: space-around; width: 100%; height: 300px;">
            <div style="display: flex;flex-direction: column;align-items: center;"> 
                <i style="color: #cebc74;" class="far fa-clock fa-3x" ></i>
                <p class="label-font">{{time}}</p>
            </div>
            <div style="display: flex;flex-direction: column;align-items: center;">
                <i style="color: #cebc74;" class="fas fa-utensils fa-3x"></i>
                <p class="label-font">{{poritons}}</p>
            </div>
            <div style="display: flex;flex-direction: column;align-items: center;">
                <i style="color: #cebc74;" class="fas fa-chart-line fa-3x" ></i>
                <p class="label-font"> {{level}}</p>
            </div>
                
        </div>
        
      
            
    
    </div>


</div>


